<h1>Editing Discussion</h1>

<%= render 'form', discussion: @discussion %>


<hr/>
<%= link_to 'Show', @discussion, class: 'btn btn-info', role: "button" %>
<%= link_to 'Back', discussions_path, class: 'btn btn-secondary', role: "button" %>
