<h1><%= t('home.title') %></h1>
<div class="container">
  <p>
    It's very important to take steps to tackle obesity because, as well as causing obvious physical changes, it can lead to a number of serious and potentially life-threatening conditions.
    <br/>
    These include:
    <ul>
      <li>type 2 diabetes</li>
      <li>coronary heart disease</li>
      <li>some types of cancer, such as breast cancer and bowel cancer</li>
      <li>stroke</ul>
    </ul>

    Obesity can also affect your quality of life and lead to psychological problems, such as depression and low self-esteem.
  </p>
  <hr/>
  <p><%= t('home.second_paragraph') %></p>
  <p><%= t('home.third_paragraph') %></p>
</div>