<div class="home text-content-holder">
<h1><%= t('home.title') %></h1>
  <div class="container">
    <p>
    With HealthShark, we aim to help you reach your personal fitness goals and live healthier lives. 
    </br></br>
    It provides a variety of features in order for you to become the best version of yourself. Everyone deserves to be in the best shape and to be happy! That is why we intend to try and offer help every step of the way. And if that isn’t enough, you can also work with others in our community, since fitness goals are no easy task when alone.

    </p>
    <hr/>
    <p><%= t('home.third_paragraph') %></p>

    <div style='text-align:center'>

      <a href="/users/sign_in" class="btn btn-homepage" ><b>SIGN UP</b></a>

    </div>

  </div>
  
</div>