<h1>
  Error: 404. The path you requested could not be found!
</h1>
<hr/>
<i>Please check whether you wrote the correct link.</i>
<div class="container text-center">
  <%= image_tag("svg/error-404.svg", class: "mt-3", height: "400", width: "400", alt: "internal error") %>
</div>