<h1>Chat with other users</h1>
<br/>
<div id="chat" class="container" style="">
  <script type="text/javascript">
      $(document).ready(() =>
      {
        <% @messages.all.each do |message| %>
        addMessageContainerInChat({
            message_content: "<%= message.content %>",
            received_at: "<%= message.created_at.strftime("%T %d/%m/%y") %>",
            user_name: "<%= message.sender.name %>"
        }, <%= message == @messages.last %>);
        <% end %>
      });
  </script>
</div>
<hr/>
<div class="form-group">
  <label for="message">Send message</label>
  <input type="text" class="form-control" id="message" placeholder="Enter message">
</div>
<button id="send-button" class="btn btn-primary">Send Message</button>